<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome to cljs-study</title>
  </head>
  <body>
    <!-- navbar -->
    <div class="ink-navigation">
      <ul class="menu horizontal black">
        <li class="{{home-selected}}"><a href="{{servlet-context}}/">Home</a></li>
        <li class="{{about-selected}}"><a href="{{servlet-context}}/about">About</a></li>
      </ul>
    </div>
    <!-- contents -->
    <div class="ink-grid">
      <div class="column-group horizontal-gutters">
        <div class="all-50">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <!-- scripts and styles -->
    <link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.0.5/css/ink.css"> <!-- inks css file -->
    <script type="text/javascript" src="http://cdn.ink.sapo.pt/3.0.5/js/ink-all.js"></script> <!-- inks js bundle -->
    <link rel="stylesheet" type="text/css" href="/css/screen.css">
    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
