{% extends "templates/base.html" %}

{% block content %}
<!-- lein cljsbuild auto dev -->
<div id="app" />
{% endblock %}

{% block page-scripts %}
  <script src="http://fb.me/react-0.11.0.min.js"></script>
  {% if dev %}
    <script src="/js/goog/base.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script type="text/javascript">goog.require("cljs_study.core");</script>
  {% else %}
    <script src="/js/app.js" type="text/javascript"></script>
  {% endif %}
{% endblock %}
